form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 10px;
}

span {
  color: orange;
  width: 300px;
}

h2 {
  float: right;
}

.root-container {
  margin: auto 20px;
  width: fit-content;
}

.calc-container {
  background-color: white;
  width: fit-content;
  padding: 10px;
}

.item {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
}

.submit-btn {
  width: 70px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.clear-btn {
  width: 100px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

.notice-bar {
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

#red {
  background: red;
}

#green {
  background: green;
}